
body{
    background-color: #2f2f2f;
}

.section-two-container p{
    color: #ffffff;
}
.section-two-border {
background-color: #2f2f2f;
}
.section-two-border p {
    color: #ffffff;
}
.header-information a{
    color: #ffffff;
}
.header-information{
    background-color: #2f2f2f;
}

.section-three p {
    background: #525252;
    color: #ffffff;
}
.section-three{
    background-color: #525252;
}
.section-four-teg{
    color: #ffffff;
}
.section-five-right-element{
    background-color: #525252;
}
.section-five-right-element p{
    color: #ffffff;
}
.section-five-text-title{
    color: #ffffff;
}
.section-five-inform h3{
    color: #ffffff;
}
.section-five-inform p{
    color: #ffffff;
}
.item p {
    color: #ffffff;
    background-color:#525252;
}
.item p {
    color: #ffffff;
    background-color:#525252;
}
.item p {
    color: #ffffff;
    background-color:#525252;
}
.item p {
    color: #ffffff;
    background-color:#525252;
}
.item p {
    color: #ffffff;
    background-color:#525252;
}
.section-six-infinity-text.items.marquee{
    background-color:#525252;
}
.section-six-slider {
    background-color:#525252;
}
.section-six-slider h6{
    color: #ffffff;
}
.section-six-slider p{
    color: #ffffff;
}
.section-six{
    background-color:#525252;
    color: #ffffff;
}
.six-container-h2{
    color: #ffffff;
}
.six-container-h3 {
    color: #ffffff;
}
#футер {
    background-color:#525252;
}
.footer-section{
    background-color:#525252;
}
.footer-section-first-container p{
    color: #ffffff;
}
.footer-section-left-container h5{
    color: #ffffff;
}
.footer-section-first-container a {
    color: #ffffff;
}
.information{
    color: #ffffff;
}
.section-five-inform div h3{
    color: #ffffff;
}
.section-five-inform div p{
    color: #ffffff;
}
.section-six h3{
    color: #ffffff;
}