@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway bold';
    src: url('../assets/fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Bitter';
    src: url('../assets/fonts/Bitter-Regular.ttf') format('truetype');
}



/*мой хэдр*/

header {
    margin: 0 15px;
  }
  
  .flex-box-between {
    display: flex;
    justify-content: space-between;
  }
  
  .header-container {
    margin: 0 auto;
    padding-top: 12px;
    max-width: 1180px;
    padding-bottom: 16px;
  }
  
  .header-logo-container {
    height: 57px;
    position: relative;
  }
  
  .header-logo-container img {
    /* display: inline-block; */
    margin: auto;
    max-width: 66px;
    max-width: 165px; 
  }
  
  .header-second-logo {
    position: absolute;
    left: 57px;
    
  }
  
  .header-information {
    width: 535px;
    /* margin-right: 70px; */
    padding-top: 27px;
    
    background-color: white;
  }
  
  .header-information a {
    text-decoration: none;
    color: #000;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: auto;
  }
  
  .header-anchors {
    display: none;
  }
/* */





html, body{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Raleway';
    color: #1D2F38;
    background-color: #FFF;
    min-height: 100vh;
}
h2{
    font-family: 'Bitter';
    font-weight: 400;
    font-size: 38px;
    line-height: 40px;
    margin-top: 0;
}
button {
    border: none;
    background: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
img{
    max-width: 100%;
    height: auto;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
main, .header-container{
    margin: 0 auto;
    max-width: 1150px;
}/*
header{
    box-shadow: 0px 1px 6px 0px rgba(83, 109, 122, 0.29);
    border-bottom: 2px solid rgba(83, 109, 122, 0.24);
    margin: 0;
    box-sizing: border-box;
    height: 70px;
}
.header-container{
    box-sizing: border-box;   
    padding: 5px;

    display: flex;
    justify-content: center;
    gap: 10vw;
}
#theme-button p{
    font-size: 20px;
    box-shadow: inset 0px 0px 20px 20px #3F3F3F,  0px 0px 7.5px 7.5px #3F3F3F;
}
.header-container .affiliate-logo{
    margin: 0.1px 0 0 0;
    width: 155px;
}*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section{
    margin-top: 5.1%;
    background-color: #f3e9e2;
    border-radius: 25px;
    padding: 50px;    
    margin-bottom: 10vh;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.sign-in form{
    flex-direction: column;
}
form label{
    display: inline-block;
    width: 155px;
}
form div:not(:nth-child(10)) input{
    padding: 1px 4px;
    border-width: 1px;
    border-radius: 7.5px;
    height: 20px;
    width: 225px;
}
form div:nth-child(10),form div:last-child {
    min-width: 100%;
}
form div:nth-child(10) input{
    margin-left: 0;
}
.sign-up div:nth-child(10) label{
    width: 265px;
}
form div:last-child{
    display: flex;
    justify-content: space-between;
}
form button:first-child{
    width: 161px;
    height: 50px;
    border-radius: 5px;
    background: #aee8fb;

    color: #000000;
    justify-content: center;
    font-size: 15px;
    line-height: 20px;
}
form button:last-child{
    border-radius: 5px;
    background:  #aee8fb;
    padding: 10px 20px;

    color: #000000;
    justify-content: center;
    font-size: 15px;
    line-height: 20px;
}
form div{
    display: flex;
    gap: 5px;
}
form div input{
    position: relative;
}
#visible-password-button{
    height: 100%;
    border-radius: 15px;
    width: 23.6px;
    padding: 0 0 2.1px 3.6px;
    background: #aee8fb;
    margin: 0 10px;
}
#generate-password-button, #generate-login-button{
    padding: 0 5px;
}
#generate-login-button{
    margin-left: 10px;
}
span{
    color: orange;
    font-size: 20px;
}
#sign-up-send.hidden, #sign-in-send.hidden{
    display: block;
    background: #7495a0;
    color: #474747;
    cursor: default;
}/*
@media (max-width: 1439px) {
    main, header{
        padding: 0 10.5%;
    }
}
@media (min-width: 1445px) {
    .header-container div {
        gap: 29.52px;
    }
}*/
body.dark-mode, 
body.dark-mode #theme-button-p,
body.dark-mode img
{
    filter: invert(100%);
}

form div{
    position: relative;
}
::after{
    display: block;
    color: black;
    background:#aee8fb;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 400px;
}
.msg-empty::after{
    content: "This field must been filled";
}
#login-up-label.msg-empty::after{
    left: 535px;
}
.msg-phone::after{
    content: "Phone number isn't correct";
}
.msg-phone-bel::after{
    content: "Phone number isn't Belarusian number";
}
.msg-less16::after{
    content: "You bust be older than 16";
}
.msg-login-exist::after{
    content: "This login already exists";
    left: 535px;
}
.msg-small-password::after{
    content: "Password must have at least 8 symbols";
    left: 610px;
}
.msg-big-password::after{
    content: "Password must be less than 20 symbols";
    left: 610px;
}
.msg-digit-password::after{
    content: "Password must have digit";
    left: 610px;
}
.msg-letter-password::after{
    content: "Password must have latin letter";
    left: 610px;
}
.msg-speshal-symbol-password::after{
    content: "Password must have speshal symbol";
    left: 610px;
}
.msg-match-password::after{
    content: "Passwords isn't equals";
}
@media (max-width: 1000px) {
    .msg-phone, 
    .msg-phone-bel, 
    .msg-empty, 
    .msg-less16,
    .msg-login-exist,    
    .msg-small-password,
    .msg-big-password, 
    .msg-digit-password, 
    .msg-letter-password, 
    .msg-speshal-symbol-password,
    .msg-match-password{ 
        height: 39px;
    }
    ::after,
    #login-up-label.msg-empty::after,
    #login-in-label.msg-empty::after,
    .msg-small-password::after,
    .msg-login-exist::after,
    .msg-digit-password::after,
    .msg-letter-password::after,
    .msg-speshal-symbol-password::after,
    .msg-big-password::after{
        top: 34px;
        left: 0;
    }        
}
@media (max-width: 880px){
    form div {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .sign-up form div:last-child, 
    .sign-up form div:nth-child(10){
        flex-direction: row;
    }
    .sign-in form div:last-child{
        flex-direction: row;
        margin-top: 10px;
    }
    #generate-login-button{
        margin-left: 0;
    }
    #visible-password-button{
        margin: 0 auto;
    }
    #terms-of-use-label.msg-empty::after {
        top: 24px
    }
    .msg-phone, 
    .msg-phone-bel, 
    .msg-empty, 
    .msg-less16,
    .msg-login-exist,    
    .msg-small-password,
    .msg-big-password, 
    .msg-digit-password, 
    .msg-letter-password, 
    .msg-speshal-symbol-password,
    .msg-match-password{
        height: 24px;
    }
    ::after,
    .msg-empty::after,
    #login-up-label.msg-empty::after,
    #login-up-label.msg-empty::after,
    #login-in-label.msg-empty::after,
    .msg-match-password::after{
        top: 59px;
    }       
    #login-up-label.msg-empty::after, 
    .msg-login-exist::after
    {
        top: 84px
    }
    .msg-small-password::after,
    .msg-big-password::after, 
    .msg-digit-password::after, 
    .msg-letter-password::after, 
    .msg-speshal-symbol-password::after
    {
        top: 114px
    }
}
@media (max-width: 768px) {
    
  
    /* ----------------------------------------- */          
   
    .header-first-logo{
      width: 36px;
      height: 34px;
     }/*
    .header-second-logo {
      width: 100px;
    }  */
    .header-logo-container img {
      max-width: 100px;
    }  
    .header-second-logo{
      display: none;
    } 
    /* ----------------------------------------- */
  }
@media (max-width: 628px){
    form button:first-child {
        width: 100px;
    }
    form div:not(:nth-child(10)) input {
        height: 25px;
        width: 100%;
        box-sizing: border-box;
    }
    form div:last-child {
        gap: 30px;
        justify-content: start;
    }
    #generate-login-button {
        margin: 20px 0 0;
        width: 100%;
    }
    .sign-up div:nth-child(10) label {
        width: 100%;
    }
    .sign-up div:nth-child(10) {
        justify-content: center;
    }
    #visible-password-button {
        margin: 15px auto;
    }
    #sign-up-send, #sign-in-send {
        width: 100%;
    }
    form button:last-child {
        width: 100%;
        height: 50px;
    }
    #login-up-label.msg-empty::after, .msg-login-exist::after {
        top: 55px;
    }
    .msg-small-password::after, 
    .msg-big-password::after, 
    .msg-digit-password::after, 
    .msg-letter-password::after, 
    .msg-speshal-symbol-password::after {
        top: 50px;
    }
    #password-in-label.msg-empty::after{
        top: 59px;
    }
    #terms-of-use-label.msg-empty::after{
        top: 49px;
    }
}
@media (max-width: 507px){
    form{
        gap: 60px;
    }
    .msg-small-password::after, 
    .msg-big-password::after, 
    .msg-digit-password::after, 
    .msg-letter-password::after, 
    .msg-speshal-symbol-password::after {
        top: 169px;
    }
    form div:nth-child(10) label{
        height: 48px;
    }
    #terms-of-use-label.msg-empty::after {
        top:74px;
    }
}
@media (max-width: 380px){
    #login-up-label.msg-empty::after,
    .msg-login-exist::after{
        top: 139px;
    }
}






  /*футер*/
  
footer {
    width: 100%;
    height: 571px;
    background-color: #f3e9e2;
  }
  
  .footer-section {
    /* max-width: 1000px; */
    /* margin-left: 60px; */
    padding-top: 60px;
    background-color: #f3e9e2;
    position: relative;
  }
  
  .footer-section-container {
    margin: 0 15px;
    max-width: 1045px;
    /* flex-wrap: wrap; */
  }
  
  .footer-section-left-container {
    margin-left: 45px;
  }
  
  .footer-section-left-container h5 {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: start;
  }
  
  .footer-section-left-container p {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
  }
  
  .footer-section-right-container {
    margin-left: 20px;
  }
  
  .footer-section-right-container p {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: 10px;
  }
  .footer-section-right-container a {
    text-decoration: none;
    color: #000;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 2px;
    display: block;
    text-align: start;
  }
  
.blackOver {
    display: none;
  }
  
  .footer-section-left-container button {
    margin-top: 20px;
    display: block;
    border: none;
    background-color: transparent;
  }
  
  .footer-section-left-container button img {
    width: 50px;
    height: 50px;
  }
  
 
  .blackOver-two-button {
    display: block;
    border: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background: #0000005e;
    left: 0;
    bottom: 0;
    z-index: 8;
  }
  
  .body-scroll {
    overflow: hidden;
  }
  
 
  .footer-button-close {
    border: none;
    position: relative;
    width: 30px;
    height: 30px;
  
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: 0;
    background: transparent;
  }
  
  .footer-button-close span {
    position: absolute;
    left: 0;
    /* right: 0px; */
    width: 30px;
    height: 3px;
    background-color: black;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    z-index: 10;
  }
  
  .footer-button-close span:nth-child(1) {
    transform: rotate(45deg);
  }
  
  .footer-button-close span:nth-child(2) {
    transform: rotate(-45deg);
  }
  .hidden{
    display: none;
    }













  /*terms of use
  /* убираем нижний ползунок прокрутки */
body {
    overflow-x: hidden;
}

/* фон нашего модального окна */
.modalBackground {
    margin-left: -50%;
    display: none;
    background: rgba(0, 0, 0, 0.8);
     position: fixed; 
    width: 40000px;
    height: 40000px;
    cursor: pointer;
    /* указываем z-индекс для корректного наслаивания */
    z-index: 1;
}

/* позиционирование самого модального окна */
.modalActive {
    position: fixed;
    width: 350px;
    height: 495px;
    top: calc(50% - 250px);
    left: calc(50% - 175px);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}

/* кнопочка закрытия модального окна */
.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
}

/* сама картинка кнопочки закрытия */
.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}

/* делаем позиционирование внутренних элементов относительно модального окна */
.modalWindow {
    position: relative;
}

.lng-create1 {
    display: inline-block;
    color: #0077b6;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.lng-create1:hover {
    color: #005a8e;
}


/* Стили для контейнера кнопки */
.lng-theme {
    margin-left: 11%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Стили для кнопки при наведении */
  .lng-theme:hover {
    background-color: #aee8fb;
  }
  
  /* Стили для активной кнопки */
  .lng-theme.active {
    background-color: #333;
    color: #fff;
  }

  


  .logout2 {
    margin-left: 4%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Стили для кнопки при наведении */
  .logout2:hover {
    background-color: #aee8fb;
  }
  
  /* Стили для активной кнопки */
  .logout2.active {
    background-color: #333;
    color: #fff;
  }